<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>web-app</title>
</head>
<body bgcolor="skyblue">{% if age > 18 %}
    <header></header>
    <article><h1 style="color:blue;"><u>My Details</u></h1>
    <p style="color: coral;">Hello! Everyone my name is {{name}}.</p>
    <p style="color: coral;">I am from {{place}}.</p>
    <p style="color: coral;">I have done my B.Tech in {{course}}.</p>
    <p style="color: coral;">I am {{age}} year's old.</p>
    <p style="color: coral;">My interests are singing, writing, coding, motivating, helping, good understanding person with unstopable capabilities!</p>
    <p style="color: coral;">Some of my thoughts are:
         <ul><ol style="color: rgb(187, 166, 45);">My thoughts are so magical that it will remain till the existance of universe⭐</ol>

        <ol style="color: rgb(185, 163, 38);">Your imagination is so beautiful that if you believe you can make it happen, nothing is impossile.Pure intentions leads us in right direction.</ol></ul>
        </p></article>
        <footer><p>Phone.no. 6372947003 <a href="sahuaditya715@gmail.com">Email</a></p> </footer>
        {% endif %}
</body>
</html>